.post {
    margin-top: 60px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background: #FFFFFF;
    border: 1.5px solid #F1F2F6;
    border-radius: 8px;
}

.content {
    width: 75%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 187.4%;
    /* or 26px */


    /* Catalina Blue */

    color: #203758;

}

.postPhoto {
    width: 75%;
    height: auto;
}

.singleEvent {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: hsl(0, 0%, 100%);
    border: 3px solid #3187E5;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #788292;
    position: relative;
    padding: 6px;
    margin-bottom: 10px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 75%;
    height: 60px;
}

.userPhoto {
    width: 60px;
    border-radius: 50px;
    border: 2px solid #1877F2;
    margin-right: 30px;
}

.eventText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #788292;
}

.postDate {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    /* Slate Grey */

    color: #788292;

}

.userNames {
    /* Secion Header */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    /* Catalina Blue */

    color: #203758;
}

.likesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 75%;

}

.likesContainer img {
    width: 25px;
    padding: 10px;
    margin-top: 10px;
}

.likesContainer p {
    width: 25px;
    /* Info */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 11px;
    /* identical to box height */


    /* Slate Grey */

    color: #788292;

}

.dislike {
    rotate: 180deg;
}

.comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: #788292 2px 2px;
}

.commentsContainer {
    width: 75%;
}