.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.socialhubLogo {
    display: flex;
    align-self: flex-end;
    margin-right: 100px;
}

.formContainer {
    width: 100vw;
    justify-content: space-evenly;
    display: flex;
    justify-self: center;
    flex-direction: row;
}

.linkAnchor {
    text-align: center;
    padding: 20px;
}

.registerInput {
    margin-bottom: 20px;
}

.title {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */


    color: #000000;

}